.container {
    width: 100%;
    margin: 10px;
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: space-around;
}
.h1 {
    color: red;
    background-color: darkblue;
}
.h2 {
    color: yellow;
    background-color: orange;
}