* {
    box-sizing: border-box;
}
body {
    margin: 0 5%;
}
.containerHeader {
    background-image: url(header.jpg);
    background-size: cover;
    background-position: 0%;
    width: 100%;
}
.ContainerNav {
    display: flex;
    width: 100%;
}
#headerimage {
    width: 100px;
    height: 100px;
}
.ContainerNavImage {
    width: 25%;
}
.ContainerNavList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.ContainerNavIcons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    margin-right: 20px;
}
.containerHeaderParagraph {
    color: rgb(219, 114, 53);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 60px 0 auto;
}
#headerParagraph {
    background-color: lightslategray;
}