* {
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
}
body {
    margin: 0 5%;
}
.center {
    margin: auto;
    padding: 10px;
  }
.containerHeader {
    background-image: url(header.jpg);
    background-size: cover;
    background-position: 0%;
    width: auto;
}
.ContainerNav {
    display: flex;
    width: auto;
}
#headerimage {
    width: 100px;
    height: 100px;
}
.ContainerNavImage {
    width: 25%;
}
.ContainerNavList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.Icon2 {
    display: block;
    opacity: 1;
}
.ContainerNavIcons {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    gap: 10px;
}
.Icon {
    margin: 0px;
}
.Icon2:hover .Icon2 {
    opacity: .5;
}
#headerParagraph {
    background-color: rgba(211, 211, 211, 0.664);
    padding: 20px 100px 70px;
}
.containerHeaderParagraph {
    color: rgb(219, 114, 53);
    opacity: .7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.containerSection {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-gap: 10px;
    background-color: white;
    width: auto;
    height: auto;
    padding: 10px 10px 10px 0px;
}
.containerSectionLeft {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    background-color: lightgray;
    height: auto;
    width: auto;
    padding: 10px;
}
.itemsSelectionLeft {
    background-color: whitesmoke;
    width: 1fr;
    height: 1fr;
}
.containerSectionRight {
    background-color: lightgray;
    height: 100%;
    width: auto;
}
.containerFooter {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: whitesmoke;
    padding: 5px 10px;
    width: auto;
    height: auto;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 10px;
    border-right: 10px;
    border-style: solid;
    border-color: lightgrey;
}
